<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    </head>
    <body>
        <div class="nav">
        <%- include('_header');%>
        </div>
        <%if( flash.success && flash.success.length > 0){%>
            <h5><%= flash.success%></h5>
        <%}%>
        <%- body%>
        <!-- this body is by default understandable -->

        <div class="footer">
        <%- include('_footer');%>
        </div>
        <%- script %>
    </body>
</html>